# --- GUI Framework ---
PySide6
pyqtgraph
qscintilla
qt-material
pyqtdarktheme
tkinter

# --- Hardware Drivers ---
seabreeze
pyserial
pyvisa

# --- Data & Math (CRITICAL) ---
numpy
pandas
h5py
silx
matplotlib

# --- Utilities ---
requests
pyyaml
pillow
openpyxl
xlsxwriter
packaging

# --- Documentation & Build ---
sphinx
furo
sphinx-autodoc-typehints
sphinx-copybutton
myst-parser
pyinstaller