PySide6
QScintilla
seabreeze
openpyxl
xlsxwriter
pillow
h5py
requests
pyyaml
pyserial
pyvisa
qt-material
matplotlib
pyqtgraph
pyinstaller
sphinx
furo
sphinx-autodoc-typehints
sphinx-copybutton
myst-parser
pyinstaller

pyqtdarktheme
requests
packaging